.card {
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}


.carousel-caption {
    color: Black;
    background-color: rgba(255, 255, 255, 0.9);
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

@media only screen and (max-width: 767px) {

    .navbar-brand {
        font-size: 5vw;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    nav {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 6vw;
        font-style: normal;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
      }
    .sitetext {
        font-family: "PT Serif", serif;
        font-weight: 300;
        font-style: normal;
        color: #e6e8f0;
        font-size: 5vw;
        line-height: 1.25;
    }
    .biotext {
        font-family: "PT Serif", serif;
        font-weight: 250;
        font-style: normal;
        color: #c5cdd6;
        font-size: 5vw;
        line-height: 1.5;
        padding-top: 5vw;
    }
    .phonetext {
        font-family: "PT Serif", serif;
        font-weight: 250;
        font-style: normal;
        color: #c5cdd6;
        font-size: 4vw;
        line-height: 1.5;
        }
    .minititle {
        color: White;
        font-size: 5vw;
    }

    .bioimage
    {
        width: 80vw;
    }
    .headertext {
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: White;
        font-size: 6.5vw;
        line-height: 1.25;
    }


}

@media only screen and (min-width: 768px) {

    .phonetext {
        display: none;
    }

    .navbar-nav {
        float: right;
    }
    nav {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 3vw;
        font-style: normal;
    }
    .sitetext {
        font-family: "PT Serif", serif;
        font-weight: 300;
        font-style: normal;
        color: #e6e8f0;
        font-size: 1.25vw;
        line-height: 1.5;
    }
    .navbar-brand {
        font-size: 3vw;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    .biotext {
        font-family: "PT Serif", serif;
        font-weight: 300;
        font-style: normal;
        color: #e6e8f0;
        font-size: 1.25vw;
        line-height: 1.5;
        padding-left: 1.5vw;
    }
    .bioimage
    {
       width: 250vw;
    }
    .headertext {
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: White;
        font-size: 2vw;
        line-height: 1.5;
    }
}

body {
    background-color: #01021c;
    color: White;
}

.navbar {
    background-color: #01021c;
}


.carousel-caption {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: Black;
    font-size: 100%;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
  }

  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
